.loginPage {
    margin: 10% auto;
    text-align: center;
}

.loginPage-form {
    width: 30%;
    margin: auto;
}

.loginPage-form-container {
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #F4F4F4;
}

.loginPage-form-input {
    width: 65%;
    margin-top: 10px;
    margin: auto;
}

.loginPage-form-label {
    /* float: left; */
    margin: 10px 0;
}

.loginPage-input {
    width: 100%;
}

.loginPage-errMsg-Container {
    margin-top: 5px;
    background-color: #FFDCE0;
    height: 3vh;
}

.loginPage-errMsg {
    color: red;
    height: 20px;
    font-size: 16px;
    width: 50%;
    margin: 2% auto;
}

.loginPage-form-btn {
    margin: 10px;;
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 320px) {
    .loginPage-form {
        width: 90%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (min-width:321px) and (max-width: 767px) {
    .loginPage-form {
        width: 60%;
    }
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (min-width:768px) and (max-width: 1224px) {
    .loginPage-form {
        width: 30%;
    }
}

@media only screen and (min-width: 1225px) {
    
}
