.confirmPage-left {
    border: 1px solid lightgray;
    width: 68%;
    display: inline-block;
    height: auto;
    padding: 1%;
}

.confirmPage-right {
    width: 30%;
    float: right;
}

.confirmPage-header {
    font-weight: bold;
}

.confirmPage-content {
    padding: 3%;
    height: 100vh;
    width: 100%;
    background-color: #F4F4F4;}

.confirmPage-header h2{
    padding-bottom: 15px;
    border-bottom: 1px solid lightgray;
}

.confirmPage-orderDetail-container {
    margin-top: 2%;
    height: 6vh;
    width: 55%;
    float: left;
}

.confirmPage-printContainer {
    width: 40%;
    float: right;
    text-align: center;
    margin-top: 2%;
    height: 6vh;
}

.confirmPage-printBtn {
    width: 30%;
}

.confirmPage-printerIcon {
    width: 25px;
    height: 25px;
    display: inline-block;
    margin: 0 5%;
}

.confirmPage-orderDetail {
    display: inline-block;
    width: 100%;
    font-size: 18px;
    color: #737373;
}

.confirmPage-orderDetail span:nth-child(2) {
    float: right;
}

.confirmPage-paymentDetail-container {
    margin-top: 5%;
    height: 15vh;
}

.confirmPage-paymentDetail-left {
    width: 50%;
    float: left;
    height: 15vh;
}

.confirmPage-paymentDetail-right {
    width: 50%;
    float: left;
    height: 15vh;
}

.confirmPage-itemOrdered {
    width: 30%;
}

.confirmPage-itemOrdered-detail{
    width: 60%;
    margin-left:3%;
}

.confirmPage-itemOrdered img{
    width: 30%;
}

.confirmPage-itemOrdered span h6{
    float: left;
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 320px) {
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (min-width:321px) and (max-width: 767px) {
    .confirmPage-content {
        height: 140vh;
    }
    .confirmPage-left {
        width: 100%;
    }
    .confirmPage-right {
        width: 100%;
    }
    .checkoutPage-totalBox {
        margin-top: 10px;
    }
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (min-width:768px) and (max-width: 1224px) {
}

@media only screen and (min-width: 1225px) {
}