.itemListPage {
    padding: 0;
    margin: 0;
}

.itemListPage-header {
    width: 100%;
    height: 5vh;
    display: inline-block;
    margin-top: 2%;
}

.itemListPage-brand {
    font-size: 2em;
    font-weight: bold;
    color: #02A97D;
    width: 20%;
    float: left;
    margin-left: 3%;
}

.itemListPage-searchbar {
    width: 80%;
    height: 20px;
    margin-top: 5px;
    position: absolute;
    right: 5%;
    text-align: right;
}

.itemListPage-inputField {
    width: 30%;
    height: 3vh;
    margin-right: 3%;
}

.itemListPage-searchIcon {
    width: 40px;
    height: 40px;
    margin-right: 10%;
    margin-left: 5px;
    
}
.itemListPage-cart {
    width: 7%;
    float: right;
    margin-top: 10px;
}

.itemlistPage-cartBtn {
    border: none;
    background: transparent;
    margin-right: 4%;
}

.itemListPage-cartIcon {
    width: 35px;
    height: 35px;
    z-index: 1;
}

.itemListPage-cartNum {
    width: 20px;
    margin-top: 5%;
}

.itemListPage-content {
    padding: 3%;
    height: 100vh;
    width: 100%;
    background-color: #F4F4F4;
}

.itemListPage-card {
    border: 1px solid grey;
    width: 31%;
    height: auto;
    float: left;
    margin: 1%;
    padding: 2%;
}

.itemListPage-card-img {
    width: 100%;
    height: 20vh;
    object-fit: fill;
}

.itemListPage-product-info {
    padding: 5%;
    text-align: center;
}

.itemListPage-product-left label {
    font-size: 20px;
}

.itemListPage-product-bottom {
    text-align: center;
}

.itemListPage-product-btn {
    width: 100%;
    height: 100%;
    font-size: 25px;
    border-radius: 5px;
}

/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 320px) {
    .itemListPage-brand{
        font-size: 16px;
    } 
    .itemListPage-card {
        width: 45%;
    }
    .itemListPage-searchbar {
        width: 45%;
        text-align: left;
    }
    .itemListPage-inputField {
        width: 70%;
    }
    .itemListPage-cart {
        margin-right: 10%;
    }
}

/* Medium devices (tablets, less than 992px) */
@media only screen and (min-width:321px) and (max-width: 767px) {
    .itemListPage-brand{
        width: 40%;
        font-size: 24px;
    } 
    .itemListPage-card {
        width: 48%;
    }
    .itemListPage-searchbar {
        width: 45%;
        text-align: left;
    }
    .itemListPage-inputField {
        width: 70%;
    }
    .itemListPage-cart {
        margin-right: 5%;
        width: 10%;
    }
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (min-width:768px) and (max-width: 1224px) {
    .itemListPage-brand{
        width: 30%;
    }
    .itemListPage-searchbar {
        width: 40%;
        text-align: left;
    }
    .itemListPage-inputField {
        width: 70%;
    }
    .itemListPage-cart {
        margin-right: 7%;
    }
}

@media only screen and (min-width: 1225px) {
    .itemListPage-searchbar {
        width: 40%;
        text-align: left;
    }
    .itemListPage-inputField {
        width: 70%;
    }
    .itemListPage-cart {
        margin-right: 7%;
    }
}